In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split, cross_val_score

In [2]:
df = pd.read_csv("/Users/elijahwoolford/Desktop/python /MELBOURNE_HOUSE_PRICES_LESS.csv")
df.head(10)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,1/04/2017,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,S,Nelson,1/04/2017,Western Metropolitan,3464,10.4,Moonee Valley City Council
5,Airport West,4/32 Earl St,2,t,530000.0,S,Jellis,1/04/2017,Western Metropolitan,3464,10.4,Moonee Valley City Council
6,Airport West,3/74 Hawker St,2,u,540000.0,S,Barry,1/04/2017,Western Metropolitan,3464,10.4,Moonee Valley City Council
7,Airport West,1/26 Highridge Cr,3,h,715000.0,SP,Nelson,1/04/2017,Western Metropolitan,3464,10.4,Moonee Valley City Council
8,Albanvale,1 Jackson Cct,6,h,NaN,PI,hockingstuart,1/04/2017,Western Metropolitan,1899,14.0,Brimbank City Council
9,Albert Park,18 Mills St,3,h,1925000.0,S,Cayzer,1/04/2017,Southern Metropolitan,3280,3.0,Port Phillip City Council

In [3]:
df.describe()

              Rooms         Price  Propertycount      Distance
count  52964.000000  4.119600e+04   52964.000000  52964.000000
mean       3.115512  1.001993e+06    7610.820595     12.704475
std        0.960792  6.033969e+05    4414.860634      7.631408
min        1.000000  8.500000e+04      39.000000      0.000000
25%        3.000000  6.170000e+05    4380.000000      7.000000
50%        3.000000  8.350000e+05    6795.000000     11.400000
75%        4.000000  1.225000e+06   10412.000000     16.700000
max       31.000000  1.120000e+07   21650.000000     65.000000

In [4]:
null_values = df.isnull().sum()
null_values[null_values>0]

Price    11768
dtype: int64

In [5]:
df.Type.unique()

array(['h', 't', 'u'], dtype=object)

In [6]:
df.Method.unique()

array(['S', 'SP', 'PI', 'SN', 'VB', 'PN', 'SA', 'W', 'SS'], dtype=object)

In [7]:
df.Regionname.unique()

array(['Northern Metropolitan', 'Western Metropolitan',
       'Southern Metropolitan', 'South-Eastern Metropolitan',
       'Eastern Metropolitan', 'Northern Victoria', 'Western Victoria',
       'Eastern Victoria'], dtype=object)

In [8]:
df = pd.get_dummies(df, columns=["Type", "Method", "Regionname", "Suburb", "CouncilArea"])
df.head(10)

,Address,Rooms,Price,SellerG,Date,Propertycount,Distance,Type_h,Type_t,Type_u,...,CouncilArea_Moorabool Shire Council,CouncilArea_Moreland City Council,CouncilArea_Nillumbik Shire Council,CouncilArea_Port Phillip City Council,CouncilArea_Stonnington City Council,CouncilArea_Whitehorse City Council,CouncilArea_Whittlesea City Council,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council
0,49 Lithgow St,3,1490000.0,Jellis,1/04/2017,4019,3.0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1,59A Turner St,3,1220000.0,Marshall,1/04/2017,4019,3.0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
2,119B Yarra St,3,1420000.0,Nelson,1/04/2017,4019,3.0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,68 Vida St,3,1515000.0,Barry,1/04/2017,1543,7.5,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,92 Clydesdale Rd,2,670000.0,Nelson,1/04/2017,3464,10.4,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5,4/32 Earl St,2,530000.0,Jellis,1/04/2017,3464,10.4,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6,3/74 Hawker St,2,540000.0,Barry,1/04/2017,3464,10.4,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7,1/26 Highridge Cr,3,715000.0,Nelson,1/04/2017,3464,10.4,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1 Jackson Cct,6,NaN,hockingstuart,1/04/2017,1899,14.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9,18 Mills St,3,1925000.0,Cayzer,1/04/2017,3280,3.0,1,0,0,...,0,0,0,1,0,0,0,0,0,0

In [9]:
df = df[np.isfinite(df["Price"])]

In [10]:
X = df.drop(["Address", "Date", "SellerG", "Price"],1)
y = df.Price

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=11)

In [15]:
reg = linear_model.Ridge(alpha=10, fit_intercept=False)
reg.fit(X_train, y_train)

Ridge(alpha=10, copy_X=True, fit_intercept=False, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [16]:
cross_val_score(reg, X_test, y_test, cv=10)

array([0.59993181, 0.62643515, 0.637984  , 0.60807672, 0.61624211,
       0.60896031, 0.55832495, 0.56011341, 0.62230535, 0.63138507])